.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 45px 0 37px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .header {
    padding-left: 50px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 28px 27px 31px;
  }
}